body {
  margin: 0;
  background: no-repeat center/cover url(11.jpg);
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  width: 100%;
  background-color: hsl(0,0%, 100%, 0.1);
}
